* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html, body {
    overflow: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    color: #333;
    flex-direction: column;
}

body::before {
    background:url("../images/CharlesBridge.jpg");
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;


}

ul{
    text-align: left;
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 300%;
    justify-content: center;
}

h2{
    font-family: "Playfair Display", serif;
    font-size: 200%;
    justify-content: center;
}

h3{
    font-family: "Playfair Display", serif;
    font-size: 300%;
    justify-content: center;
}

.navbar-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.navbar{
    font-size: 15;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    display: block;
}
.navbar a{
    background-color: rgb(94, 185, 127);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 254, 254);
}

.navbar a.active{
    background-color: black;
}

.header{
    padding-top: auto;
    text-align: center;
    font-size: 30px;
    color: #333;
}

.content-container{
    display:flex;
    justify-content: center;
    align-items: center;


}

.content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    color: #333;
    background-color: rgba(217, 110, 207, 0.61);
    border-radius: 15px;
    text-decoration: none;
    width: 50%;
    padding: 50px;
}

.grid{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.orange{
    background-color: rgba(135, 207, 235, 0.699);
}

div{
    font: 1em sans-serif;
    color: black;
    font-size: 10;
    padding: 5px;
    text-align: center;
}

.card{
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;

}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}